//Colors
$white: #FBF9EF;
$white-opacity: #FBF9EF80;
$dark-blue: #002531;
$pink: #8e24aa;
$blue: #3971D8;
$grey-blue: #90A9B4;
$purple: #d81b60;
$background: #282333;

//Fonts
$SourceCodePro: 'Source Code Pro', sans-serif;
$Ubuntu: 'Ubuntu', sans-serif;
$WorkSans: 'Work Sans', sans-serif;